%h2 Denuncias

= link_to new_denuncia_path, class: 'btn btn-primary btn-xs' do
    %span.glyphicon.glyphicon-plus
    Crear Denuncia

%hr
// Mostrar Mapa

%div{ id: "basic_map", style: 'height: 400px;', class: 'thumbnail' }
