%nav.navbar.navbar-default{role: "navigation"}
    .container

        / Brand and toggle get grouped for better mobile display
        .navbar-header
            %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", type: "button"}
                %span.sr-only Toggle navigation
                %span.icon-bar
                %span.icon-bar
                %span.icon-bar
            %strong= link_to "Guardian", root_path, class: 'navbar-brand'
        
        / Collect the nav links, forms, and other content for toggling
        .collapse.navbar-collapse.navbar-ex1-collapse
            %ul.nav.navbar-nav
          
            %ul.nav.navbar-nav.navbar-right
                %li
                    = link_to "Denuncias", denuncias_path
                %li
                    = link_to "Contactos", contactos_path
            
                
          
        / /.navbar-collapse
